
*{
  box-sizing: border-box;
}
html,body,#app,.page{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}
.control {
  width: 100%;
  height: 100%;
}
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.console-box {
  height: 72px;
  border-radius: 4px;
  color: #d6d8db;
  background: #2b313f;
  overflow: hidden;
  display: block;
  position: relative;
  transition: all .3s ease;
}
.console-box > span {
  font: 12px/130% sans-serif;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  opacity: 0.6;
}
.console-box > input {
  width: 100%;
  height: 24px;
  padding: 30px 0 16px;
  position: relative;
  z-index: 1;
  border: none;
  background: transparent;
  font: 24px/normal sans-serif;
  text-align: center;
  color: #0b89f0;
  box-sizing: content-box;
  cursor: text;
}
.console-box:hover {
  background-color: #393e4c;
  transition: none;
  box-shadow: 0 8px 16px #111827;
}
.console-box:hover span {
  color: #f9fafb;
  opacity: 1;
}
.console-box > input:focus{
  background: #0b89f0;
  color: #eaeffc;
  outline: none;
  box-shadow: 0 0 5px 2px #0b89f0;
}
.console-box > input:focus + span {
  color: #eaeffc;
  z-index: 10;
  opacity: 1;
}

/* 滚动条设置 */
*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}
*::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
  display: none;
}
*::-webkit-scrollbar-corner {
  background-color: transparent;
}
*::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  height: 6px;
  border-radius: 25px;
  background-clip: padding-box;
  background-color: rgba(0, 0, 0, 0.30);
  position: absolute;
}
